<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.patpet.question.answer.dao.AnswerDAO">

	<insert id="insertAnswer" parameterType="map">
		INSERT INTO
			`answer`
		(
			`userId`
			, `questionId`
			, `content`
			, `createdAt`
			, `updatedAt`
		)	
		VALUES
		(
			#{userId}
			, #{questionId}
			, #{content}
			, now()
			, now()
		)
	</insert>
	
	<select id="selectAnswer" parameterType="int" resultType="com.patpet.question.answer.model.Answer">
		SELECT
			`id`
			, `userId`
			, `questionId`
			, `content`
			, `createdAt`
			, `updatedAt`
		FROM
			`answer`
		WHERE
			`questionId` = #{questionId}		
	</select>

</mapper>  
