<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.patpet.post.attention.dao.AttentionDAO">

	<insert id="insertAttention" parameterType="map">
		INSERT INTO
			`attention`
		(
			`userId`
			, `postId`
			, `createdAt`
		)
		VALUES
		(
			#{userId}
			, #{postId}
			, now()
		)
	</insert>
	
	<select id="selectAttentionCount" parameterType="int" resultType="int">
		SELECT
			count(1)
		FROM
			`attention`
		WHERE
			`postId` = #{postId}		
	</select>
	
	<delete id="deleteAttention" parameterType="map">
		DELETE FROM
			`attention`
		WHERE
			`userId` = #{userId}
			AND `postId` = #{postId}	
	</delete>
	
	<select id="selectCountAttentionByUserId" parameterType="map" resultType="int">
		SELECT
			count(1)
		FROM 
			`attention`
		WHERE
			`postId` = #{postId}
			AND `userId` = #{userId}	
	</select>
	
	<delete id="deleteAttentionByPostId" parameterType="int">
		DELETE FROM
			`attention`
		WHERE
			`postId` = #{postId}	
	</delete>

</mapper>  