<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.patpet.post.file.dao.FileDAO">

	<insert id="insertFile" parameterType="map">
		INSERT INTO
			`file`
		(
			`postId`
			, `reviewId`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
		)	
		VALUES
		(
			#{postId}
			, #{reviewId}
			, #{imagePath}
			, now()
			, now()
		)
	</insert>
	
	<select id="selectFile" parameterType="int" resultType="com.patpet.post.file.model.File">
		SELECT
			`id`
			, `postId`
			, `reviewId`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
		FROM
			`file`
		WHERE
			`postId` = #{postId}
	</select>
	
	<select id="selectFileByPostId" parameterType="int" resultType="com.patpet.post.file.model.File">
		SELECT
			`id`
			, `postId`
			, `reviewId`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
		FROM
			`file`
		WHERE
			`postId` = #{postId}
		ORDER BY 
			`id`	
		LIMIT 1;			
	</select>
	
	<select id="selectFileList" parameterType="int" resultType="com.patpet.post.file.model.File">
		SELECT
			`id`
			, `postId`
			, `reviewId`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
		FROM
			`file`
		WHERE
			`postId` = #{postId}
	
	</select>
	
	
	
	<select id="selectReviewFile" parameterType="int" resultType="com.patpet.post.file.model.File">
		SELECT
			`id`
			, `postId`
			, `reviewId`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
		FROM
			`file`
		WHERE
			`reviewId` = #{reviewId}
		
	</select>
	
	<select id="selectFileByReviewId" parameterType="int" resultType="com.patpet.post.file.model.File">
		SELECT
			`id`
			, `postId`
			, `reviewId`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
		FROM
			`file`
		WHERE
			`reviewId` = #{reviewId}
		ORDER BY 
			`id` 
		LIMIT 1;
	</select>
	
	<select id="selectReviewList" parameterType="int" resultType="com.patpet.post.file.model.File">
		SELECT
			`id`
			, `postId`
			, `reviewId`
			, `imagePath`
			, `createdAt`
			, `updatedAt`
		FROM
			`file`
		WHERE
			`reviewId` = #{reviewId}
	</select>
	
	
	
	<delete id="deleteFileByPostId" parameterType="int">
		DELETE FROM
			`file`
		WHERE
			`postId` = #{postId}	
	</delete>
	
	<delete id="deleteFileByReviewId" parameterType="int">
		DELETE FROM
			`file`
		WHERE
			`reviewId` = #{reviewId}	
	
	</delete>

</mapper>  