<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.patpet.question.dao.QuestionDAO">

	<insert id="insertQuestion" parameterType="map">
		INSERT INTO
			`question`
		(
			`userId`
			, `postId`
			, `isAnswer`
			, `title`
			, `content`
			, `createdAt`
			, `updatedAt`
		)	
		VALUES
		(
			#{userId}
			, #{postId}
			, #{isAnswer}
			, #{title}
			, #{content}
			, now()
			, now()
		)
	</insert>
	
	
	
	<select id="selectQuestion" parameterType="int" resultType="com.patpet.question.model.Question">
		SELECT
			`id`
			, `userId`
			, `postId`
			, `isAnswer`
			, `title`
			, `content`
			, `createdAt`
			, `updatedAt`
		FROM
			`question`
		WHERE
			`id` = #{questionId}	
	</select>
	
	<select id="selectQuestionList" resultType="com.patpet.question.model.Question">
		SELECT
			`id`
			, `userId`
			, `postId`
			, `isAnswer`
			, `title`
			, `content`
			, `createdAt`
			, `updatedAt`
		FROM
			`question`
		WHERE
			`userId` = #{userId}
		ORDER BY
			`id` DESC;			
	</select>
	
	<select id="selectQuestionByIdAndUserId" parameterType="map" resultType="com.patpet.question.model.Question">
		SELECT
			`id`
			, `userId`
			, `postId`
			, `isAnswer`
			, `title`
			, `content`
			, `createdAt`
			, `updatedAt`
		FROM
			`question`
		WHERE
			`id` = #{id}
			AND `userId` = #{userId}	
	</select>
	
	<delete id="deleteQuestion" parameterType="int">
		DELETE FROM
			`question`
		WHERE
			`id` = #{questionId}	
	</delete>

</mapper>  