@charset "UTF-8";

.main-animal {
	background:#eeeeee;
	font-size:30px;
}

.main-review {
	background:#eeeeee;
	font-size:30px;
}

hr {
	margin:0;
	padding:0;
}

.main-menu {
	font-size:21px;		
}

.mainPostTitle {
	font-size:23px;
	
	margin:5px;
	display:block;
	width:500px;
	height:40px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	
}

.nav li:hover > a{
	background-color:#eeeeee;	
}

.detail-menu {
	list-style:none;
	padding:0;
	margin:0;
	position:absolute;
	top:49px;
	width:164px;
	text-align:center;
	font-size:15px;
	background-color:#eeeeee;
	opacity:0;
}

.nav li:hover ul {
	opacity:1;
}

.nav ul a {
	color:black;
}

.nav ul li:hover a{
	background:#dcdcdc;
	font-weight:bold;	
}



.dog-title {
	background:#eeeeee;
}

.cat-title {
	background:#eeeeee;
}

.patpet {
	font-size:40px;
	font-weight:bold;
}

.introduce {
	font-size:30px;
}

.intent {
	font-size:23px;
	font-weight:bold;
}

.create-post {
	font-size:37px;
	font-weight:bold;
}

.bi-card-image {
	font-size:25px;
}

.state {
	background:#eeeeee;
	width:200px;
}

.post-list {
	flex-wrap:wrap;
}

.list-box {
	width:200px;
	margin:30px 35px 30px 35px;
}

.create-btn {
	font-size:40px;
	color:black;
}

.post-title {
	font-size:22px;
	margin:5px;
	display:block;
	width:250px;
	height:40px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.detail-name {
	font-size:25px;
}

.detail-content {
	border:1px solid #eeeeee;
	width:600px;
	height:346.5px;
}

#create-review {
	font-size:40px;
	font-weight:bold;
}

.review-letter {
	font-size:23px;
	font-weight:bold;
}

.review-box {
	margin:30px 37px 30px 37px;
}

.fileIcon {
	font-size:40px;
}

.review-main {
	font-size:47px;
	font-weight:bold;
}

.review-writer {
	font-size:40px;
}

.review-title {
	font-size:40px;
	font-weight:bold;
}

.review-info {
	font-size:22px;
	color:#808080;
}

.review-content {
	border:1px solid #eeeeee;
	width:550px;
}

.update-style {
	font-size:23px;
	font-weight:bold;
}


