@charset "UTF-8";


hr {
	margin:0;
	padding:0;
}

.main-menu {
	font-size:21px;		
}

.nav li:hover > a{
	background-color:#eeeeee;	
}

.detail-menu {
	list-style:none;
	padding:0;
	margin:0;
	position:absolute;
	top:49px;
	width:164px;
	text-align:center;
	font-size:15px;
	background-color:#eeeeee;
	opacity:0;
}

.nav li:hover ul {
	opacity:1;
}

.nav ul a {
	color:black;
}

.nav ul li:hover a{
	background:#dcdcdc;
	font-weight:bold;	
}



.dog-title {
	background:#eeeeee;
}

.cat-title {
	background:#eeeeee;
}

.patpet {
	font-size:40px;
	font-weight:bold;
}

.introduce {
	font-size:30px;
}

.intent {
	font-size:23px;
	font-weight:bold;
}

.create-post {
	font-size:37px;
	font-weight:bold;
}

.bi-card-image {
	font-size:25px;
}

.state {
	background:#eeeeee;
}

.post-list {
	flex-wrap:wrap;
}

.create-btn {
	font-size:40px;
	color:black;
}

.post-title {
	font-size:22px;
}

.detail-name {
	font-size:25px;
}

.detail-content {
	border:1px solid grey;
}




